/*

--- 01 TYPOGRAPHY
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold:700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

--- 06 BORDER-RADIUS
- Default: 9px
- Medium: 11px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/***********************************************************************/
/*    GLOBAL STYLES    */
/***********************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-brand--1: #67b5dd;

  --color-shade--1: #b8ddfc;
  --color-shade--2: #cae6fd;
  --color-shade--3: #eaf5fe;

  --color-tint--1: #3678ad;
  --color-tint--2: #2a5e88;
  --color-tint--3: #15242c;

  --color-dark--1: #2d3439;
  --color-dark--2: #333;
  --color-dark--3: #42484d;
  --color-dark--4: #555;
  --color-dark--5: #777;

  --color-light--1: #d6dee0;
  --color-light--2: #ececec;
  --color-light--3: #fdf2e9;

  --color-yellow--1: #eab308;
  --color-yellow--2: #facc15;

  --color-box-shadow--1: rgba(0, 0, 0, 0.1);
  --color-box-shadow--2: rgba(0, 0, 0, 0.15);
  --color-box-shadow--3: rgba(253, 242, 233, 0.5);
  --color-box-shadow--4: rgba(0, 0, 0, 0.06);

  --color-background--1: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--color-dark--4);
  overflow-x: hidden;
  background-color: var(--color-background--1);
}

html {
  /* 
  Default font-size: 10px = 62.5%
  10px / 16px = 0.625 = 62.5%
  */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/***********************************************************************/
/*    REUSABLE COMPONENTS     */
/***********************************************************************/
/* ---------------- Headings ---------------- */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--color-dark--2);
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-tint--1);
  text-transform: uppercase;
  margin-bottom: 3.6rem;
  letter-spacing: 0.75px;
}

/* ---------------- Layout ---------------- */
.container {
  max-width: 150rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container--bg {
  max-width: 160rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container--sm {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

/* ---------------- Settings Classes ---------------- */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.text-center {
  text-align: center !important;
}

.form-input-error {
  box-shadow: inset 0 0 0 2px red !important;
}
/* ---------------- Links & Buttons ---------------- */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-dark--4);
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only needed for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: var(--color-tint--1);
  color: #fff;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--color-brand--1);
}

.btn--form {
  background-color: var(--color-tint--2);
  color: var(--color-light--3);
}

.btn--form:hover {
  color: var(--color-tint--3);
  background-color: var(--color-light--3);
}

/* ---------------- Lists ---------------- */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.list-item {
  font-size: 1.6rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  color: var(--color-tint--1);
  height: 2rem;
  width: 2rem;
}

/***********************************************************************/
/*    NAVIGATION   */
/***********************************************************************/

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  margin: -1.1rem 0 0 0.3rem; /* Added */
}

.header-nav--alt {
  background-color: var(--color-tint--3);
  margin: 0;
  padding: 1rem 2.4rem;
}

.logo {
  height: 6.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.1rem 0 0 0.3rem;
}

/* .main-nav {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
} */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-light--1);
  text-transform: uppercase;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-brand--1);
}

.main-nav-link-dark:link,
.main-nav-link-dark:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-light--1);
  text-transform: uppercase;
  transition: all 300ms;
}

.main-nav-link-dark:hover,
.main-nav-link-dark:active {
  color: var(--color-brand--1);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-tint--1);
}

.icon-mobile-close {
  display: none;
}

/***********************************************************************/
/*    HERO SECTION   */
/***********************************************************************/
.hero-img-box {
  height: 50vh;
  background-image: url(/hero.jpg);
  background-size: cover;
  position: relative;
}

.section-hero {
  padding: 3.2rem 0;
}

/* .hero-text-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.hero-text-box h1,
.hero-text-box p {
  color: var(--color-light--1);
}

.hero-text {
  font-size: 2.6rem;
  /* width: 60%; */
  margin-bottom: 3.4rem;
}

.hero-btn-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/***********************************************************************/
/*    CERTIFICATIONS SECTION   */
/***********************************************************************/
.section-certs {
  padding: 1.2rem;
}

.certs-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2.4rem;
}

.certs-check {
  height: 1.8rem;
  width: 1.8rem;
}

.certs-heading {
  font-size: 1.6rem;
  line-height: 1.2;
}

.certs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

.cert-logo {
  height: 4rem;
  /* filter: brightness(0); */
  opacity: 80%;
}

/***********************************************************************/
/*    HOW IT WORKS SECTION   */
/***********************************************************************/
.section-how {
  padding: 6.4em 0;
}

.grid-how {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 6rem;
}

.how-img-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-evenly;
}

.how-step {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--color-shade--1);
}

.how-img {
  width: 50%;
}

.how-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;
}

.how-text {
  font-size: 1.8rem;
}

/***********************************************************************/
/*    SERVICES SECTION   */
/***********************************************************************/
.section-services {
  padding: 6.4rem 0;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-item {
  padding: 2.4rem;
  box-shadow: 0 0.8rem 1.6rem var(--color-box-shadow--1);
  /* border-radius: 9px; */
}

.services-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-tint--1);
}

.service-description {
  font-size: 1.4rem;
  color: var(--color-dark--5);
  margin-top: 1.2rem;
}

.service-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-tint--1);
}

/* 
  The simple trick to transition from height 0 to auto with CSS
  https://www.youtube.com/watch?v=B_n4YONte5A
 */
.hidden-box {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.hidden-box > div {
  overflow: hidden;
}

.services-item-active .hidden-box {
  grid-template-rows: 1fr;
}

.services-item-active {
  border-top: 2px solid var(--color-tint--1);
}

.service-list {
  margin-top: 1.4rem;
}

/***********************************************************************/
/*    FEATURES SECTION   */
/***********************************************************************/
.section-features {
  padding: 6.2rem 0;
}

.features-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.feature {
  padding: 3.2rem;
  box-shadow: 0 0.8rem 1.6rem var(--color-box-shadow--1);
  border-radius: 9px;
  transition: all 400ms;
}

.feature:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1.8rem var(--color-box-shadow--4);
}

.feature-icon {
  color: var(--color-tint--1);
  height: 4.8rem;
  width: 4.8rem;
  margin-bottom: 2.4rem;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

/***********************************************************************/
/*    CONTACT FORM SECTION  (CTA)   */
/***********************************************************************/
.section-cta {
  padding: 4.8rem 0 3.2rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 30fr 70fr;
  background-image: linear-gradient(
    to right bottom,
    var(--color-shade--1),
    var(--color-shade--2)
  );
  box-shadow: 0 0.8rem 1.6rem var(--color-box-shadow--2);
  border-radius: 11px;
  overflow: hidden;
}

.cta-additional {
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-heading {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-tint--1);
}

.cta-list-box {
  padding: 8rem 6.2rem;
}

.cta-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.cta-list-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.cta-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-tint--3);
}

.cta-list-link {
  font-size: 2rem;
  color: var(--color-tint--3);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  font-weight: 600;
  color: var(--color-tint--3);
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label,
.cta-form legend {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  font-family: inherit;
  color: inherit;
  font-size: 1.8rem;
  border-radius: 9px;
  border: none;
  background-color: var(--color-light--3);
  width: 100%;
  padding: 1.2rem;
  box-shadow: 0 1px 2px var(--color-box-shadow--1);
  transition: all 0.3s;
}

.cta-form input::placeholder {
  color: #888;
}

.cta-form .btn {
  align-self: end;
  padding: 1.2rem;
  box-shadow: 0 1px 2px var(--color-box-shadow--1);
}

.cta-error-text {
  font-size: 1.4rem;
  color: red;
  margin-top: 1rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(166, 213, 251, 0.3),
      rgba(202, 230, 253, 0.307)
    ),
    url("../public/contact.jpg");
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem var(--color-box-shadow--3);
}

.cta fieldset {
  border: none;
}

.grid--checkbox {
  display: grid;
  grid-template-columns: 0.05fr 2fr;
  gap: 6px;
  align-items: center;
  padding: 0.6rem;
}

.grid--checkbox label {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

#comment {
  resize: none;
}

/***********************************************************************/
/*    FOOTER   */
/***********************************************************************/
.footer {
  padding: 4.8rem 0;
}

.footer-text {
  font-size: 1.4rem;
}

/***********************************************************************/
/*    ARTICLES SECTION   */
/***********************************************************************/
.section-articles {
  padding: 2.4em 0;
}

/* .articles-subheading {
  font-size: 1.4rem;
} */

.articles-subheading-v2 {
  margin-bottom: 1.6rem;
}

.articles-text-v2 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1.8rem;
}

.articles-text {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 3.6rem;
  padding-left: 3rem;
}

.articles-address {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 1.2rem;
  padding-left: 4.6rem;
  margin-bottom: 2.6rem;
}

.articles-notes {
  font-size: 1.4rem;
  line-height: 1.3;
  padding-left: 4.6rem;
  margin-bottom: 3.6rem;
}

.articles-notes > ul {
  padding-left: 2.6rem;
}

.articles-list-item {
  font-size: 1.8rem;
  line-height: 0.9;
}

.articles-list-item-description {
  margin-top: 0.6rem;
  margin-bottom: 3.6rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.9rem;
}

.articles-list-item-description-no-mb {
  margin-bottom: 0;
}

.articles-list-item-level1 {
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: underline;
}

.articles-list-level1 {
  padding-left: 4rem;
}

.articles-list-level2 {
  margin-top: 1rem;
}

.articles-list-level2 .list-item {
  font-size: 2rem;
}

.article-list-icon {
  font-size: 2.2rem;
  color: #3678ad;
}

#grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;

  background-color: var(--color-shade--3);
}

.grid--checklist {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: 75fr 25fr;
  margin-bottom: 1.6rem;
}

.articles-qrcode-box {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-qrcode {
  height: 20rem;
}

.article-link {
  font-size: 1.6rem;
  color: var(--color-tint--1);
}

/***********************************************************************/
/*    REVIEWS SECTION   */
/***********************************************************************/
.section-reviews {
  padding: 6rem 0;
  background-image: linear-gradient(
      rgba(42, 94, 136, 0.819),
      rgba(42, 94, 136, 0.819)
    ),
    url(/bg-reviews.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

blockquote {
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.6;
  color: var(--color-light--3);
  padding: 5%;
  position: relative;
}

blockquote cite {
  display: flex;
  margin-top: 2rem;
  font-style: normal;
  font-size: 90%;
  align-items: center;
}

blockquote::before {
  content: "\201C";
  font-size: 6rem;
  font-style: italic;
  position: absolute;
  font-family: sans-serif;
  top: -1rem;
  left: -1rem;
}

.review-stars {
  display: inline-block;
  margin-right: 0.7rem;
}

.review-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-yellow--1);
}

.reviews-link-container {
  padding-top: 6rem;
  text-align: center;
}

.reviews-link {
  font-size: 1.8rem;
  color: var(--color-shade--1);
}
