/*

--- 01 TYPOGRAPHY
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold:700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

--- 06 BORDER-RADIUS
- Default: 9px
- Medium: 11px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/***********************************************************************/
/*    GLOBAL STYLES    */
/***********************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

:root {
  --color-brand--1: #67b5dd;

  --color-shade--1: #b8ddfc;
  --color-shade--2: #cae6fd;

  --color-tint--1: #3678ad;
  --color-tint--3: #15242c;

  --color-dark--1: #2d3439;
  --color-dark--2: #333;
  --color-dark--3: #42484d;
  --color-dark--4: #555;

  --color-light--1: #d6dee0;
  --color-light--2: #ececec;
  --color-light--3: #fdf2e9;

  --color-box-shadow--1: rgba(0, 0, 0, 0.1);
  --color-box-shadow--2: rgba(0, 0, 0, 0.15);
  --color-box-shadow--3: rgba(253, 242, 233, 0.5);
  --color-box-shadow--4: rgba(0, 0, 0, 0.06);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--color-dark--4);
  overflow-x: hidden;
}

html {
  /* 
  Default font-size: 10px = 62.5%
  10px / 16px = 0.625 = 62.5%
  */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/***********************************************************************/
/*    REUSABLE COMPONENTS     */
/***********************************************************************/
/* ---------------- Headings ---------------- */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--color-dark--2);
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-top: 2.5rem;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-tint--3);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* ---------------- Layout ---------------- */
.container {
  max-width: 150rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container--bg {
  max-width: 160rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container--sm {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

/* ---------------- Settings Classes ---------------- */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.text-center {
  text-align: center !important;
}

.form-input-error {
  box-shadow: inset 0 0 0 2px red !important;
}

/* ---------------- Links & Buttons ---------------- */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-dark--4);
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only needed for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: var(--color-brand--1);
  color: #fff;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--color-tint--1);
}

.btn--form {
  background-color: var(--color-tint--1);
  color: var(--color-light--3);
}

.btn--form:hover {
  color: var(--color-tint--3);
  background-color: var(--color-light--3);
}

/***********************************************************************/
/*    NAVIGATION   */
/***********************************************************************/

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}

.logo {
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img {
  width: 31rem;
  padding: 0.2rem;
  margin-top: 3rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-light--1);
  text-transform: uppercase;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-brand--1);
}

/***********************************************************************/
/*    HERO SECTION   */
/***********************************************************************/
.hero-img-box {
  height: 50vh;
  background-image: url(/hero.jpg);
  background-size: cover;
  position: relative;
}

.section-hero {
  padding: 3.2rem 0;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box h1,
.hero-text-box p {
  color: var(--color-light--1);
}

.hero-text {
  font-size: 1.6rem;
  /* width: 60%; */
  margin-bottom: 2.4rem;
}

/***********************************************************************/
/*    CONTACT FORM SECTION  (CTA)   */
/***********************************************************************/
.section-cta {
  padding: 4.8rem 0 3.2rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 30fr 70fr;
  background-image: linear-gradient(
    to right bottom,
    var(--color-shade--1),
    var(--color-shade--2)
  );
  box-shadow: 0 0.8rem 1.6rem var(--color-box-shadow--2);
  border-radius: 11px;
  overflow: hidden;
}

.cta-additional {
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-heading {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-tint--1);
}

.cta-list-box {
  padding: 8rem 6.2rem;
}

.cta-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.cta-list-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.cta-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-tint--3);
}

.cta-list-link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-tint--3);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  font-weight: 600;
  color: var(--color-tint--3);
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label,
.cta-form legend {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  font-family: inherit;
  color: inherit;
  font-size: 1.8rem;
  border-radius: 9px;
  border: none;
  background-color: var(--color-light--3);
  width: 100%;
  padding: 1.2rem;
  box-shadow: 0 1px 2px var(--color-box-shadow--1);
  transition: all 0.3s;
}

.cta-form input::placeholder {
  color: #888;
}

.cta-form .btn {
  align-self: end;
  padding: 1.2rem;
  box-shadow: 0 1px 2px var(--color-box-shadow--1);
}

.cta-error-text {
  font-size: 1.4rem;
  color: red;
  margin-top: 1rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(166, 213, 251, 0.3),
      rgba(202, 230, 253, 0.307)
    ),
    url("../public/contact.jpg");
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem var(--color-box-shadow--3);
}

.cta fieldset {
  border: none;
}

.grid--checkbox {
  display: grid;
  grid-template-columns: 0.05fr 2fr;
  gap: 6px;
  align-items: center;
  padding: 0.6rem;
}

.grid--checkbox label {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

#comment {
  resize: none;
}